import { Content } from '@/components/common/Content'
import { MainLayout } from '@/components/layouts/MainLayout'
import { Button } from '@/components/ui/primitives/Button'
import {
  DescriptionDetails,
  DescriptionList,
  DescriptionTerm,
} from '@/components/ui/primitives/DescriptionList'
import { Title } from '@/components/ui/primitives/Title'
import { use{{pascalCase featureName}}Show } from '@/pages/{{kebabCase featureName}}/show/use{{pascalCase featureName}}Show'
import { useNavigate } from 'react-router-dom'

export const {{pascalCase featureName}}Show = () => {
  const navigate = useNavigate()
  const { {{camelCase featureName}} } = use{{pascalCase featureName}}Show()

  return (
    <MainLayout>
      <Title subtitle={'Visualizar'}>{{displayNamePlural}}</Title>
      <Content>
        <DescriptionList>
          <DescriptionTerm></DescriptionTerm>
          <DescriptionDetails></DescriptionDetails>
        </DescriptionList>
        <div className={'flex justify-between'}>
          <Button
            type={'button'}
            onClick={() => navigate('/{{routeName}}')}
          >
            Voltar
          </Button>
        </div>
      </Content>
    </MainLayout>
  )
}
