import { Content } from '@/components/common/Content'
import { MainLayout } from '@/components/layouts/MainLayout'
import { Title } from '@/components/ui/primitives/Title'
import { FieldGroup } from '@/components/ui/primitives/Fieldset'
import { Button } from '@/components/ui/primitives/Button'
import { use{{pascalCase featureName}}Create } from '@/pages/{{kebabCase featureName}}/Create/use{{pascalCase featureName}}Create'
import { useNavigate } from 'react-router-dom'

export const {{pascalCase featureName}}Create = () => {
  const navigate = useNavigate()
  const { register, control, handleSubmit, errors } = use{{pascalCase featureName}}Create()

  return (
    <MainLayout>
      <Title subtitle={'Criar'}>{{displayName}}</Title>
      <Content>
        <form id={'new-{{kebabCase featureName}}'} onSubmit={handleSubmit}>
          <FieldGroup className={'max-w-4xl'}>

          </FieldGroup>
        </form>
        <div className={'flex justify-between'}>
          <Button onClick={() => navigate('/{{routeName}}')}>
            Voltar
          </Button>
          <Button type={'submit'} form={'new-{{kebabCase featureName}}'}>
            Salvar
          </Button>
        </div>
      </Content>
    </MainLayout>
  )
}
