import { Content } from '@/components/common/Content'
import { MainLayout } from '@/components/layouts/MainLayout'
import { Title } from '@/components/ui/primitives/Title'
import { FieldGroup } from '@/components/ui/primitives/Fieldset'
import { Button } from '@/components/ui/primitives/Button'
import { use{{pascalCase featureName}}Create } from '@/pages/{{kebabCase featureName}}/create/use{{pascalCase featureName}}Create'
import { useNavigate } from 'react-router-dom'

export const {{pascalCase featureName}}Create = () => {
  const navigate = useNavigate()
  const {
    register,
    control,
    handleSubmit,
    errors,
    loading,
  } = use{{pascalCase featureName}}Create()

  return (
    <MainLayout>
      <Title subtitle={'Criar'}>{{displayNamePlural}}</Title>
      <Content>
        <form id={'new-{{kebabCase featureName}}'} onSubmit={handleSubmit}>
          <FieldGroup className={'md:px-16 md:py-8'}>
            <div className={'grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-4'}>

            </div>
          </FieldGroup>
        </form>
        <div className={'flex justify-between'}>
          <Button onClick={() => navigate('/{{routeName}}')}>
            Voltar
          </Button>
          <Button type={'submit'} form={'new-{{kebabCase featureName}}'} disabled={loading}>
            {loading ? 'Salvando...' : 'Salvar'}
          </Button>
        </div>
      </Content>
    </MainLayout>
  )
}
